/* Events css styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Gets rid of white space when resizing to mobile version */
html,body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#fontDefault {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

#outer {
    display: flex;
    justify-content: space-around;
}

#eventHeaderSection {
    display: flex;
    height: 247px;
    top: 170px;
    margin-bottom: 100px;
    background-color: #CBD9C4;
    align-items: center;
    justify-content: center;
}

.bracket {
    height: 120px;
    width: 20px;
}

#eventTitle {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    padding: 0px 60px;
}

#posterImage {
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

#poster{
    width: 43%;
    margin: 0 auto;
}

#details{
    width: 25%;
    margin-right: 10%;
}

.headings{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

}

.heading-icon {
    width: 23px;
    height: 22px;
    margin-right: 5px;
}

.icon-heading-div{
    display: flex;
    align-items: center;
}

.linkEvent {
    text-decoration: none;
    font-weight: 600;
    color: #748F67;
}


/* Dropdown*/
.dropdownBox {
    display: contents;
    border: none;
    width: 100%;
    /* background-color: white; */
}

/* Gets rid of blue highlight on click in chrome */
:focus {
    outline: none !important;
}

.dropButton {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
    margin: 40px 0;
    background-color: white;
    text-align: left;
}

.typeactive {
    border: none;
    box-shadow: none;
    width: 100%;
}

.dropTitle {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.titleactive {
    color: #748F67;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.drop-heading {
    font-weight: 700;
}

.dropdownContent {
    display: none;
    text-align: left;
    vertical-align: text-top;
    padding: 10px 0;
    margin-bottom: 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    list-style-type: none;
}

.dropdownContent li {
    padding: 10px 0;
    vertical-align: baseline;
}

.fa-angle-down, .fa-angle-up {
    color: black;
    font-size: 30px;
    float: right;
    margin-right: 20px;
}

.fa-angle-up {
    margin-right: 20px;
    color: #748F67;
}

.bookName {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #748F67;
}

.bookAuthor {
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.bookDate {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 900px) {
    /* html {
        font-size: 70%;
    } */

    #eventHeaderSection {
        height: 120px;
        top: 96px;
        margin-bottom: 50px;
    }

    .bracket{
        width: 10px;
        height: 60px;
    }
    
    #eventTitle{
        font-size: 24px;
        line-height: 30px;
        padding: 0 4px;
        width: 230px;
    }

    #outer{
        flex-direction: column-reverse;
    }

    #poster{
        width: 80%;
        overflow-wrap: break-word;
    }

    #details{
        margin: 0 auto;
        width: 80%;
    }

    .headings{
        font-size: 24px;
        line-height: 29px;
    
    }
    
    .body-text{
        line-height: 22px;
        margin-left: 26px;
    }

    #posterImage {
        margin-top: 40px;
        margin-bottom: 20px;
    }

  }
