/* Events css styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
#outer {
    display: flex;
    justify-content: space-around;
    
}

#eventHeaderSection {
    display: flex;
    height: 247px;
    top: 170px;
    margin-bottom: 100px;
    background-color: #CBD9C4;
    align-items: center;
    justify-content: center;
}

#eventTitle {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    padding: 0px 60px;
}

#posterImage {
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

#poster{
    width: 43%;
    margin: 0 auto;
}

#details{
    width: 25%;
    margin-right: 10%;
}

.headings{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

}

.body-text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.heading-icon {
    width: 23px;
    height: 22px;
    margin-right: 5px;
}

.icon-heading-div{
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: 600;
    color: black;
}


/* Dropdown*/
.quescontainer {
    display: contents;
    border: none;
    width: 100%;
    background-color: white;
}

/* Gets rid of blue highlight on click in chrome */
:focus {
    outline: none !important;
}

.questype {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    width: 100%;
    margin: 40px 0;
    background-color: white;
    text-align: left;
}

.typeactive {
    border: none;
    box-shadow: none;
    width: 100%;
}

.questitle {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.titleactive {
    color: #748F67;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.drop-heading {
    font-weight: 700;
}

.quescontent {
    display: none;
    text-align: left;
    vertical-align: text-top;
    padding: 10px 0;
    margin-bottom: 100px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    list-style-type: none;
}

.quescontent li {
    padding: 3px 0;
}

.fa-angle-down, .fa-angle-up {
    color: black;
    font-size: 30px;
    float: right;
    margin-right: 20px;
}

.fa-angle-up {
    margin-right: 20px;
    color: #748F67;
}