/* FAQ css styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

/* Title of Page */
#faq-header {
    display: flex;
    background-color: #CBD9C4;;
    align-items: center;
    justify-content: center;
    height: 247px;
}

.faq-sec {
    width: auto;
}

#faq-h1 {
    display: inline-block;
    font-family: 'Lora', sans-serif;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-size: clamp(24px, 3.2vw, 48px);
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.brackets {
    font-family: 'Lato', sans-serif;
    font-size: clamp(96px, 10vw, 170px);
    font-weight: 200;
    line-height: 100%;
    
}

#faq_layout {
    display: flex;
    justify-content: space-evenly;
    margin-top: 83px;
}

.faqlinks {
    display: inline;
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

/* Questions */
#questions {
    display: inline-block;
    width: 705px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.quescontainer {
    display: contents;
    border: 3px solid #748F67;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #F8F8F8;
    margin-bottom: 42px;
}

.questype {
    outline: none;
    border: 0.5px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 48px;
    border-radius: 15px;
    margin-bottom: 42px;
    background-color: rgba(239, 239, 239, 1);
    text-align: left;
}

.questype:active {
    color: #748F67;
}

.typeactive {
    border: none;
    box-shadow: none;
    width: 100%;
    background-color: #F8F8F8;
}

.questitle {
    text-transform: uppercase;
    margin-left: 27px;
}

.titleactive {
    color: #748F67;
    margin-left: 14px;
    /* font-weight: 600; */
    text-decoration-line: underline;
}

.quescontent {
    display: none;
    font-weight: 400;
    margin: auto 14px 40px;
}

.quescontent p {
    padding: 10px;
}

.fa-angle-down, .fa-angle-up {
    color: #748F67;
    float: right;
    margin-right: 20px;
}

.fa-angle-up {
    margin-right: 30px;
}


/* Local Authors Form */
.authorsform {
    margin-left: 10px;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-family: 'Lato', sans-serif !important;
    font-weight: 500 !important;
    font-size: 18px !important;
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
    border: none !important;
    display: block !important;
    height: 44px !important;
    background-color: #DAE9D2 !important;
    border-radius: 15px !important;
    margin-bottom: 20px !important;
    max-width: 94% !important;
}

.wpforms-submit {
    border: none !important;
    text-transform: uppercase !important;
    width: 102px !important;
    height: 44px !important;
    border-radius: 15px !important;
    background-color: #CBD9C4 !important;
}

.wpforms-form button[type=submit]:hover, .wpforms-form button[type=submit]:active {
    border: 3px solid #000000 !important;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    padding: 0 !important;
}

/* confirmation */
.wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: none !important;
    border: none !important;
    font-family: 'Lato', sans-serif !important;
}

/* Image */
#images {
    display: inline;
    width: 282px;
}

@media only screen and (max-width: 1050px) {
    #faq-h1 {
        font-size: 35px;
    }

    .brackets {
        font-size: 140px;
    }

    #questions {
        width: 520px;
    }

    #images {
        width: 220px;
    }
}

@media only screen and (max-width: 800px) {
    #faq-h1 {
        font-size: 30px;
    }

    #questions {
        width: 380px;
    }

    #images {
        width: 170px;
    }
}

@media only screen and (max-width: 600px) {
    #faq-h1 {
        width: 320px;
    }

    #questions {
        width: 315px;
    }

    #images {
        width: 120px;
    }
}

@media only screen and (max-width: 480px) {
    #faq-header {
        height: 184px;
    }

    .brackets {
        font-size: 96px;
    }

    #faq-h1 {
        font-size: 24px;
        width: 250px;
    }

    #faq_layout {
        margin-top: 40px;
    }

    #questions {
        width: 305px;
    }

    .quescontainer, .questype{
        border-radius: 10px;
    }

    .quescontent {
        margin-left: 14px;
    }

    .questype {
        text-align: center;
    }

    .quescontent {
        font-size: 12px;
    }

    .fa-angle-down, .fa-angle-up {
        margin-right: 10px;
    }

    .fa-angle-up {
        margin-right: 15px;
    }

    #images {
        display: none;
        width: 400px;
    }
}
