/* FAQ css styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

/* Title of Page */
header {
    display: flex;
    background-color: rgba(246, 177, 173, 1);
    align-items: center;
    justify-content: center;
    /* width: 1440px; */
    height: 247px;
}

h1 {
    display: inline-block;
    font-family: 'Lora', sans-serif;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    margin-top: 40px;
}

.bracket {
    font-family: 'Lato', sans-serif;
    font-size: 170px;
    font-weight: 200;
}

/* Questions */
#questions {
    display: inline-block;
    margin-left: 153px;
    margin-top: 83px;
    width: 706px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.quescontainer {
    display: contents;
    border: 3px solid #F46A61;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 705px;
    border-radius: 15px;
    background-color: #F8F8F8;
    margin-bottom: 42px;
}

.questype {
    border: 0.5px solid rgba(0, 0, 0, 1);
    box-shadow: 0 4px 2px -2px rgb(161, 161, 161);
    width: 709px;
    height: 48px;
    border-radius: 15px;
    margin-bottom: 42px;
    background-color: rgba(239, 239, 239, 1);
    text-align: left;
}

.typeactive {
    border: none;
    box-shadow: none;
    width: 100%;
    background-color: #F8F8F8;
}

.questitle {
    text-transform: uppercase;
    margin-left: 27px;
}

.titleactive {
    color: #F46A61;
    margin-left: 14px;
    /* font-weight: bold; */
    font-weight: 500;
    text-decoration-line: underline;
}

.quescontent {
    display: none;
    font-weight: 400;
    margin-left: 14px;
    margin-bottom: 42px;
}

p {
    padding: 10px;
}

.fa-angle-down, .fa-angle-up {
    color: rgba(244, 106, 97, 1);
    font-weight: 400;
    font-size: 18px;
    float: right;
    margin-right: 18px;
}

.fa-angle-up {
    margin-right: 35px;
}

/* Image */
#image {
    display: inline;
    position: absolute;
    margin-left: 161px;
    margin-top: 177px;
    width: 282px;
    height: 228px;
}

 