/* FAQ css styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

/* Title of Page */
#faq-header {
    display: flex;
    background-color: #CBD9C4;;
    align-items: center;
    justify-content: center;
    height: 24.7rem;
}

.faq-sec {
    width: auto;
}

#faq-h1 {
    display: inline-block;
    font-family: 'Lora', sans-serif;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-size: clamp(2.4rem, 3.2vw, 4.8rem);
    min-height: 0vw;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.brackets {
    font-family: 'Lato', sans-serif;
    font-size: clamp(9.6rem, 10vw, 17rem);
    min-height: 0vw;
    font-weight: 200;
    line-height: 100%;
}

#faq_layout {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8.3rem;
}

.faqlinks {
    display: inline;
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

/* Questions */
#questions {
    display: inline-block;
    width: 70.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

.quescontainer {
    display: contents;
    border: .3rem solid #748F67;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    background-color: #F8F8F8;
    margin-bottom: 4rem;
}

.questype {
    outline: none;
    border: .05rem solid rgba(0, 0, 0, 1);
    box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 4.8rem;
    border-radius: 1.5rem;
    margin-bottom: 4.2rem;
    background-color: rgba(239, 239, 239, 1);
    text-align: left;
}

.questype:active {
    color: #748F67;
}

.typeactive {
    border: none;
    box-shadow: none;
    width: 100%;
    background-color: #F8F8F8;
}

.questitle {
    text-transform: uppercase;
    margin-left: 2.7rem;
}

.titleactive {
    color: #748F67;
    margin-left: 1.4rem;
    text-decoration-line: underline;
}

.quescontent {
    display: none;
    font-weight: 400;
    margin: auto 1.4rem 4rem;
}

.quescontent p {
    padding: 1rem;
}

.fa-angle-down, .fa-angle-up {
    color: #748F67;
    float: right;
    margin-right: 2rem;
}

.fa-angle-up {
    margin-right: 3rem;
}


/* Local Authors Form */
.authorsform {
    margin-left: 1rem;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-family: 'Lato', sans-serif !important;
    font-weight: 500 !important;
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
    border: none !important;
    display: block !important;
    height: 4.4rem !important;
    background-color: #DAE9D2 !important;
    border-radius: 1.5rem !important;
    margin-bottom: 2rem !important;
    max-width: 94% !important;
}

.wpforms-submit {
    border: none !important;
    text-transform: uppercase !important;
    width: 10rem !important;
    height: 4.4rem !important;
    border-radius: 1.5rem !important;
    background-color: #CBD9C4 !important;
}

.wpforms-form button[type=submit]:hover, .wpforms-form button[type=submit]:active {
    border: .3rem solid #000000 !important;
    color: #000000;
    font-weight: 700;
    padding: 0 !important;
}

/* confirmation */
.wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: none !important;
    border: none !important;
    font-family: 'Lato', sans-serif !important;
}

/* Image */
#images {
    display: inline;
    width: 28.2rem;
}

@media only screen and (max-width: 1050px) {
    #faq-h1 {
        font-size: 3.5rem;
    }

    .brackets {
        font-size: 14rem;
    }

    #questions {
        width: 52rem;
    }

    #images {
        width: 22rem;
    }
}

@media only screen and (max-width: 800px) {
    #faq-h1 {
        font-size: 3rem;
    }

    #questions {
        width: 30rem;
    }

    #images {
        width: 17rem;
    }
}

@media only screen and (max-width: 600px) {
    #faq-h1 {
        width: 32rem;
    }

    #questions {
        width: 31.5rem;
    }

    #images {
        width: 12rem;
    }
}

@media only screen and (max-width: 480px) {
    #faq-header {
        height: 18.4rem;
    }

    .brackets {
        font-size: 9.6rem;
    }

    #faq-h1 {
        font-size: 2.4rem;
        width: 25rem;
    }

    #faq_layout {
        margin-top: 4rem;
    }

    #questions {
        width: 30.5rem;
    }

    .quescontainer, .questype{
        border-radius: 1rem;
    }

    .quescontent {
        margin-left: 1.4rem;
    }

    .questype {
        text-align: center;
    }

    .quescontent {
        font-size: 1.2rem !important;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-label, div.wpforms-container-full .wpforms-form .wpforms-field-label, div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea { 
        font-size: 1.2rem !important;
    }

    .fa-angle-down, .fa-angle-up {
        margin-right: 1rem;
    }

    .fa-angle-up {
        margin-right: 1.5rem;
    }

    #images {
        display: none;
        width: 40rem;
    }
}
