/*Header styles*/
html {
    position: relative;
    min-height: 100%;
    /* 1rem = 10px */
    font-size: 62.5%;
}
body {
    padding-top: 75px;
    padding-bottom: 75px;    /* Footer height */
    font-size: 1.6rem;
}

#top-header {
    display: flex;
    height: 75px;
    background: #EFEFEF;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#images {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-around;
    padding: 20px;
}

a:link {
    text-decoration: none;
  }

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    margin: auto;
    padding: 20px;
}

.link {
    margin: auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    color: #000000;
}
.shop {
    color: #748F67;
}

#search-icon{
    margin: 0;
    cursor: pointer;
    padding-top: 10px;
}

#search-bar-container {
    display: none;
    height: 75px;
    background: #EFEFEF;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-bar {
    font-family: Lato;
    font-style: normal;
    background-repeat: no-repeat;
    height: 45px; 
    width: 75%; /* Full-width */
    padding: 5px 10px 5px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    background-color: #FFFFFF;
}

.searching-container {
 display: flex;
 flex: 1;
 align-items: center;
 margin-left: 10%;
}

.searching-icon {
    height: 45px; 
    padding: 10px 10px 5px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    background: #FFFFFF;
}

.search-cancel {
    display: flex;
    align-items: center;
    padding: 5px;
}

#search {
    width: 20px;
}
#cancel {
    width: 20px;
}

.event-dropdown-content {
    display: none;
    position: absolute;
    background: #E5E2DB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.event-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.event-dropdown-content a:hover {background-color: #CBD9C4;}

.event-dropdown:hover .event-dropdown-content {display: block;}

.mobile-header {
    display: none;
    flex: 1;
    justify-content: flex-end;
    align-content: space-around;
    margin: auto;
    padding: 20px;
    width: 100%;
}

#mobile-icon {
    background: #E5E2DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    cursor: pointer;
}

#mobile-search-icon{
    margin: 0;
    cursor: pointer;
    padding-top: 10px;
}

#mobile-search-bar-container {
    display: none;
    height: 75px;
    background: #EFEFEF;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 800px) {
    .links {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
    .search-bar {
        width: 500px;
    }
}