/*Header styles*/
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 75px;    /* Footer height */
}

#top-header {
    display: flex;
    height: 75px;
    background: #EFEFEF;
    padding: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.images {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-around;
    padding: 20px;
}

a:link {
    text-decoration: none;
  }

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    margin: auto;
    padding: 20px;
}

.link {
    margin: auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    color: #000000;
}
.shop {
    color: #F46A61;
}

#search-icon{
    margin: 0;
}

#search-bar-container {
    display: none;
    height: 75px;
    background: #EFEFEF;
    padding: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.search-bar {
    font-family: Lato;
    font-style: normal;
    background-repeat: no-repeat;
    height: 45px; 
    margin: 5px 175px 5px 175px;
    width: 100%; /* Full-width */
    padding: 5px 10px 5px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
}

#search {
    width: 30px;
}
#cancel {
    width: 30px;
}