/*Header styles*/
html {
    position: relative;
    min-height: 100%;
    /* 1rem = 10px */
    font-size: 62.5%;
}
body {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;    /* Footer height */
    font-size: 1.6rem;
}

#top-header {
    display: flex;
    height: 7.5rem;
    background: #EFEFEF;
    padding: .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
}

#top-images {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-around;
    padding: 2rem;
}

a:link {
    text-decoration: none;
  }

.links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    margin: auto;
    padding: 2rem;
}

.link {
    margin: auto;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(1rem, 2vh, 2.25rem);
    line-height: 2rem;

    color: #000000;
}
.shop {
    color: #748F67;
}

#search-icon{
    margin: 0;
    cursor: pointer;
    padding-top: 1rem;
}

#search-bar-container {
    display: none;
    height: 7.5rem;
    background: #EFEFEF;
    padding: .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
}

.aws-container {
    font-family: Lato;
    font-style: normal;
    height: 4.5rem; 
    width: 75%; 
    border: .1rem solid #ddd; /* Add a grey border */
    background-color: #FFFFFF;
}

.aws-container .aws-search-form {
    height: auto;
}

.aws-container .aws-search-field {
    border: none;
    font-size: 16px;
}

.searching-container {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 10%;
}

.searching-icon {
    height: 4.5rem; 
    padding: 1rem 1rem .5rem 1rem; /* Add some padding */
    border: .1rem solid #ddd; /* Add a grey border */
    background: #FFFFFF;
}

.search-cancel {
    display: flex;
    align-items: center;
    padding: .5rem;
}

#search {
    width: 2rem;
}
#cancel {
    width: 2rem;
}

.event-dropdown-content {
    display: none;
    position: absolute;
    background: #E5E2DB;
    min-width: 16rem;
    box-shadow: 0rem .8rem 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.event-dropdown-content a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
  }

.event-dropdown-content a:hover {background-color: #CBD9C4;}

.event-dropdown:hover .event-dropdown-content {display: block;}

#mobile-header {
    display: none;
    flex: 1;
    justify-content: flex-end;
    align-content: space-around;
    margin: auto;
    padding-right: 1rem;
    width: 100%;
}

#mobile-icon {
    background: #E5E2DB;
    box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
    border-radius: .2rem;
    cursor: pointer;
}

#mobile-menu-cancel {
    display: none;
    background: #E5E2DB;
    box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
    border-radius: .2rem;
    cursor: pointer;
}

#mobile-search-icon {
    margin: 0;
    cursor: pointer;
    padding-top: 1rem;
}

#mobile-search-bar-container {
    display: none;
    height: 7.5rem;
    background: #EFEFEF;
    padding: .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
}

#menu-popover{
    display: none;
    top: 7.5rem;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(239,239,239, .9);
}

.menu-links {
    flex: 1;
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
}

.menu-link {
    margin: auto;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(1.5rem, 1.5vw, 2.25rem);
    line-height: 3.5rem;
    text-align: center;

    color: #000000;
}

@media screen and (max-width: 800px) {
    .links {
        display: none;
    }
    .menu-link {
        padding: 1rem;
    }
    #mobile-header {
        display: flex;
    }
    body {
        padding-bottom: 22.5rem;
    }
}
@media screen and (min-width: 801px) {
    .menu-popover{
        display: none;
    }
    #images {
        display: flex;
    }
    .links {
        display: flex;
    }
    #mobile-header {
        font-size: clamp(1rem, 1.5vw, 2.25rem);
        display: none;
    }
}

/* To get font for event links in header */
#fontDefault {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}


/* Cart and Checkout Pages */

.woocommerce{
    display: flex;
    justify-content: space-around;
    font-family: Lato, 'sans-serif';
}

.woocommerce-cart-wrapper .woocommerce .woocommerce-cart-form {
    width: 140%;
    margin: auto;
    margin-left: 4%;
}

.woocommerce-cart-wrapper .woocommerce .woocommerce-cart-form .actions .button{
    background-color: #748F67;
    color: #EFEFEF;
}

.product-name a {
    text-decoration: none;
    color: black;
}

.woocommerce .cart-collaterals .cart_totals {
    width: 80%;
    margin-right: 10%;
}

.woocommerce .cart-collaterals .checkout-button.button.alt.wc-forward {
    background-color: #748F67;
}

.coupon #coupon_code {
    width: 250px;
    height: 35px;
}

#order_review_heading {
    margin-top: 2%;
}

.woocommerce-form-coupon-toggle {
    margin: 2em;
}

.woocommerce button.button.alt {
    background-color: #748F67;
}

@media only screen and (max-width: 1000px) {
    /* Responsive Cart Page */
    .woocommerce {
        flex-direction: column;
        align-items: center;
    }

    .woocommerce-cart-wrapper .woocommerce .woocommerce-cart-form {
        width: 90%;
        margin-right: 0;
    }

    .woocommerce-cart-wrapper .woocommerce .woocommerce-cart-form .actions .button {
        width: 100%;
    }

    .woocommerce table.cart td.actions .coupon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .coupon #coupon_code {
        width: 70%;
    }

    .woocommerce table.cart td.actions .coupon .input-text+.button {
        width: 25%;
    }

    .wc-proceed-to-checkout {
        margin-bottom: 5rem;
    }

    .woocommerce .cart-collaterals .cart_totals {
        float: none;
        margin: 0 auto;
    }

    /* Responsive Checkout Page */
    .woocommerce .col2-set {
        width: 80%;
        margin: auto;
    }

    .woocommerce #order_review_heading {
        margin-left: 8rem;
        margin-bottom: 2rem;
    }

    .woocommerce table.shop_table.woocommerce-checkout-review-order-table {
        width: 80%;
        margin: auto;
    }
    
    .woocommerce #payment ul.payment_methods {
        width: 80%;
        margin: 2rem auto;
    }

    .woocommerce-checkout #payment div.form-row {
        width: 80%;
        margin: 2rem auto;
    }

    .woocommerce #payment #place_order {
        margin: 1rem 0;
    }

}