@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300&display=swap');

/* General CSS */
:root {
    --light-accent-color: #CBD9C4;
    --book-width: calc(18vw * 0.7);
    --book-height: calc(25.3vw * 0.7);
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    --min-book-width: calc(18rem * 0.5);
    --min-book-height: calc(25.3rem * 0.5);
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    max-width: calc(80% + 50px);
    box-sizing: border-box;
    margin: 2rem 0;
}

#mobile-section {
    margin: 0;
}

section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
}

section header .header-part {
    display: flex;
    align-items: center;
}

section header .header-part > * {
    margin-right: 2rem;
}

.header-text {
    font-family: 'Lora', serif;
    min-height: 0vw;
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: 700;
    width: fit-content;
    white-space: nowrap;
}

.flat-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    min-height: 0vw;
    font-size: clamp(1.3rem, 1.5vw, 2.25rem);
    padding: 1rem 2rem;
    background: var(--light-accent-color);
    box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: max(20px, 5vw);
    width: fit-content;
}

/* Mobile header CSS */
#mobile-header {
    display: none;
}

#mobile-tabs {
    margin-top: 1.5rem;
    justify-content: space-between;
}

#mobile-tabs .header-text {
    min-height: 0vw;
    font-size: clamp(1.6rem, 2vw, 2.5rem);
    cursor: pointer;
    margin-right: 0;
}

/* Descripton heading CSS */
#description-container {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 54.75%; */
}

#description-text {
    /* max-width: 70rem; */
    font-style: italic;
    font-weight: 400;
    margin: 0 2.5rem;
    font-size: 3.5rem;
}

.bracket {
    width: 2rem;
    height: auto;
}

/* Carousel CSS */
.carousel {
    display: grid;
    gap: max(5vw, 3rem);
    grid-auto-flow: column;
    overflow-x: hidden;
}

.carousel-button {
    width: clamp(3.5rem, 3.5vw, 5rem);
    height: clamp(3.5rem, 3.5vw, 5rem);
    box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: max(50px, 5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carousel-button img {
    width: clamp(1rem, 1.1vw, 1.2rem);
    height: auto;
}

.left {
    background: #E4DADA;
}

.right {
    background: var(--light-accent-color);
}

.left img {
    transform: rotate(-180deg);
}

/* Book CSS */
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-card {
    box-sizing: content-box;
    width: max(var(--book-width), var(--min-book-width));
    height: max(var(--book-height), var(--min-book-height));
    padding: calc(var(--book-height) * 0.3) calc(var(--book-width) * 0.3);
    background-color: #E6E2DB;
    border-radius: max(40px, 2vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-bottom: 2rem;
}

.book-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(9px 14px 4px rgba(0, 0, 0, 0.25));
    border-radius: max(20px, 2vw);
}

.book-desc {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.book-title {
    font-weight: 700;
    min-height: 0vw;
    font-size: clamp(1.4rem, 1.6vw, 2.5rem);
}

.book-price {
    font-weight: 500;
    min-height: 0vw;
    font-size: clamp(1.2rem, 1.4vw, 2rem);
}

/* Contactless section CSS */
#contactless {
    background-color: #E5E2DB;
    max-width: initial;
    height: max-content;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactless-part {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#contactless-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: calc(80% + 50px);
}

#contactless-buttons {
    display: flex;
}

#contactless-buttons .flat-button {
    margin-right: max(2rem, 2vw);
    white-space: nowrap;
}

#contactless-text {
    width: max(17.5rem, 40vw);
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: clamp(1.6rem, 2.5vw, 4rem);
    margin-bottom: max(2rem, 2vw);
}

#contactless-left {
    flex: 1 1 50%;
}

#contactless-right {
    flex: 2 2 50%;
}

.event-container {
    display: flex;
    justify-content: flex-start;
}

#left-event {
    margin-right: min(6.5rem, 5vw);
}

#right-event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event {
    border: 2.5px solid black;
    box-sizing: border-box;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 4000px) {
    html {
        font-size: 24px;
    }
}

@media screen and (max-width: 488px) {
    .carousel {
        overflow-x: initial;
        grid-auto-flow: unset;
        gap: clamp(1rem, 5.5vw, 8rem);
        grid-template-columns: repeat(auto-fit, minmax(var(--min-book-width), 1fr));
    }

    .book-card {
        padding: 0;
        background-color: transparent;
    }

    /* Hide all headers except for the one for mobile */
    section header:not(#mobile-header) {
        display: none;
    }

    /* Show the mobile header */
    #mobile-header {
        display: initial;
    }

    /* Hide non-active sections */
    #favorites, #upcoming-events {
        display: none;
    }

    /* Move the contactless section below the events section */
    #contactless {
        order: 1;
    }

    #contactless-text {
        font-size: clamp(1.25rem, 2.5vw, 4rem);
    }

    .flat-button {
        padding: 0.5rem 1rem;
        font-size: clamp(1rem, 1.5vw, 2.25rem);
    }

    /* CSS for showing active section underline */
    #mobile-tabs > .header-text {
        position: relative;
    }

    #mobile-tabs > .header-text.active:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 100%;
        width: 4rem;
        padding-bottom: 0.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 24px;
        background-color: #748F67;
    }

    .event-container {
        flex-direction: column;
    }

    .event-container img {
        width: 100%;
        margin-bottom: 2rem;
    }

    #left-event {
        margin-right: 0;
    }
}