/* FAQ css styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

/* Title of Page */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 247px;
}

h1 {
  display: inline-block;
  font-family: 'Lora', sans-serif;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
}

.bracket {
  font-family: 'Lato', sans-serif;
  font-size: 170px;
  font-weight: 200;
}

section {
  width: auto;
  margin: 0;
}

#shop_layout {
  display: flex;
  justify-content: space-evenly;
}

/* Left Sidebar */
#selection-sidebar {
  margin: 0;
}

.selection-title {
  font-family: 'Lora', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.selection-container {
  background-color: #E5E2DB;
  border-radius: 30px;
  width: 268px;
  padding: 35px 30px;

  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.selection-active {
  color: #748F67;
}

/* Right: Bookshop */
#bookstore {
  margin-top: 6px;
  width: 55%;
}

#sort-bookstore {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  justify-content: flex-end;
  margin-bottom: 100px;
}

/* Display Dropdown */
#display-num, #display-by {
  display: inline-block;
  width: 200px;
  background-color: #E5E2DB;
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47.5px;
}

#display-by {
  margin-left: 30px;
  background-color: #CBD9C4;
}

.display-default {
  padding: 10px 29px;
}

.display-default img {
  display: inline;
  width: 15px;
  float: right;
  margin-top: 6px;
  /* transform: rotate(180deg); */
}

.display-content {
  display: none;
  margin-left: 30px;
  border-radius: 40px;
}

/* .display-default:hover .display-content {
  display: inline;
} */

#display-bookstore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-content {
  width: 185px;
  margin-bottom: 75px;
  margin-right: 0;
  margin-left: 20px;
  /* flex-basis: 31%; */
}

.book-cover {
  width: 185px;
  height: 259px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: auto;
}

.book-cover img {
  object-fit: cover;
}

.book-info {
  margin-top: 18px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.book-title {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.book-price {
  font-size: 10px;
}

/* Page Bar */
#page-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 90px;
} 

.page-bar-arrow {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin-right: 30px;
}

.page-bar-left img {
  transform: rotate(-180deg);
}

.page-bar-left {
  background-color: #E4DADA;
}

.page-bar-right {
  background-color: #CBD9C4;
  margin-right: 0;
  margin-left: 30px;
}

.page-bar-nums {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
}

.page-bar-nums div {
  display: inline;
  margin: auto 15px;
}

.page-bar-active {
  color: #5B764E;
  font-size: 30px;
}

/* Shop More */
#shop-more {
  display: flex;
  justify-content: center;
  padding: 79px;
  background-color: #E5E2DB;
  max-width: initial;
  height: 336px;
  margin: 0;
}

.shop-more-text {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 0 30px;
}

.shop-more-text button {
  font-family: 'Lato', sans-serif;
  width: 225px;
  height: 70px;
  border: none;
  font-size: 25px;
  margin-top: 40px;
  background-color: #CBD9C4;
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;  
}

#shop-more img {
  object-fit: cover;
  width: 232px;
  height: 176px;
  opacity: 30%;
}

#shop-more-leftimg {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media only screen and (max-width: 480px) {
  header {
    height: 184px;
  }

  .bracket {
    font-size: 96px;
  }

  h1 {
    font-size: 24px;
    width: 250px;
  }
  
  .selection-title {
    font-size: 16px;
  }

  .selection-container {
    border-radius: 20px;
    width: 80px;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 15px;

    font-size: 12px;
  }

  #sort-bookstore {
    margin-bottom: 30px;
  }

  #display-num, #display-by {
    width: 100px;
  }
  
  #display-by {
    margin-left: 10px;
  }
  
  .display-default {
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .display-default img {
    width: 10px;
    margin-top: 2px;
  }
  
  .display-content {
    display: none;
    margin-left: 30px;
    border-radius: 40px;
  }
  
  .book-content {
    width: 80px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 20px;
    /* flex-basis: 31%; */
  }
  
  .book-cover {
    width: 80px;
    height: 110px;
    border-radius: 10px;
  }
  
  .book-info {
    margin-top: 15px;
  }
  
  .book-title {
    font-size: 12px;
  }
  
  .book-price {
    font-size: 10px;
  }

  /* Page Bar */
  #page-bar {
    margin-bottom: 50px;
  } 
  
  .page-bar-arrow {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-right: 30px;
  }
  
  .page-bar-right {
    background-color: #CBD9C4;
    margin-right: 0;
    margin-left: 30px;
  }
  
  .page-bar-nums {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
  }
  
  .page-bar-nums div {
    display: inline;
    margin: auto 15px;
  }
  
  .page-bar-active {
    color: #5B764E;
    font-size: 30px;
  }
  

}