/* FAQ css styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

/* Title of Page */
#shop-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(110px, 8vw, 145px);
  min-height: 0vw;
  margin-bottom: 25px;
}

#shop-h1 {
  display: inline-block;
  font-family: 'Lora', sans-serif;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: clamp(24px, 3vw, 48px);
  min-height: 0vw;
  font-weight: 700;
  margin-top: 10px;
}

.brackets {
  font-family: 'Lato', sans-serif;
  font-size: clamp(80px, 9.1vw, 170px);
  min-height: 0vw;
  font-weight: 200;
  line-height: 100%;
  margin: 0 10px;
}

.shop-sec {
  width: auto;
  margin: 0;
}

#shop_layout {
  display: flex;
  justify-content: center;
}

/* Left Sidebar */
#selection-sidebar {
  margin: 0;
}

.selection-title {
  font-family: 'Lora', sans-serif;
  font-size: clamp(20px, 2.5vw, 35px);
  min-height: 0vw;
  margin-bottom: 30px;
  margin-left: 10px;
}

.selection-container {
  background-color: #E5E2DB;
  border-radius: 30px;
  width: clamp(120px, 15vw, 230px);
  min-height: 0vw;
  padding: 35px 30px;

  font-family: 'Lato', sans-serif;
  font-size: clamp(15px, 2vw, 28px);
  margin-top: 20px;
  margin-bottom: 40px;
}

.selection-container div {
  cursor: pointer;
}

.selection-active {
  color: #748F67;
}

/* Right: Bookshop */
#bookstore {
  width: clamp(400px, 55vw, 800px);
  padding-left: clamp(20px, 6vw, 100px);
  min-height: 0vw;
  /* margin: 6px 60px auto 10px; */
}

#sort-bookstore {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: clamp(9px, 1.3vw, 22px);
  min-height: 0vw;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* Display Dropdown */
#phone-categories, #phone-condition, #display-num, #display-by {
  display: inline-block;
  width: clamp(68px, 15vw, 200px);
  min-height: 0vw;
  background-color: #E5E2DB;
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47.5px;
}

#phone-categories, #phone-condition {
  display: none;
}

#display-by {
  margin-left: 30px;
  background-color: #CBD9C4;
}

/*the container must be positioned relative:*/
.display-content {
  position: relative;
}

.display-content select {
  display: none; 
}

/* style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: clamp(5px, 1.1vw, 20px);
  right: clamp(8px, 1.8vw, 20px);
  border: clamp(3px, 0.4vw, 6px) solid transparent;
  min-height: 0vw;
  border-color: #000 transparent transparent transparent;
}

/* point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent ;
  top: clamp(2.5px, 0.75vw, 15px);
  min-height: 0vw;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  padding: 8px 20px;
  cursor: pointer;
}

/* style items (options): */
.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#display-bookstore {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 80px;
}

.book-content {
  width: clamp(80px, 14vw, 160px);
  min-height: 0vw;
  margin-bottom: 12px;
  margin-right: 0;
}

.book-cover {
  width: 100%;
  height: clamp(150px, 20vw, 200px);
  min-height: 0vw;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin: auto;
}

.book-cover img {
  object-fit: cover;
}

.book-info {
  margin-top: 3px;
  text-align: center;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: clamp(15px, 2vw, 28px);
  min-height: 0vw;
}

.book-title {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.book-price {
  font-size: 10px;
}

/* Page Bar */
#page-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: clamp(10px, 6vw, 90px);
  min-height: 0vw;
} 

.page-bar-arrow {
  display: flex;
  justify-content: center;
  width: clamp(20px, 2vw, 50px);
  height: clamp(20px, 2vw, 50px);
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: clamp(12px, 2vw, 24px);
  margin-right: clamp(12px, 1.8vw, 30px);
  min-height: 0vw;
  cursor: pointer;
}

.page-bar-arrow img {
  width: clamp(8px, 1.1vw, 30px);
  min-height: 0vw;
}

.page-bar-left img {
  transform: rotate(-180deg);
}

.page-bar-left {
  background-color: #E4DADA;
}

.page-bar-right {
  background-color: #CBD9C4;
  margin-right: 0;
  margin-left: clamp(12px, 1.8vw, 30px);
  min-height: 0vw;
}

.page-bar-nums {
  font-family: 'Lato', sans-serif;
  font-size: clamp(10px, 1.8vw, 26px);
  min-height: 0vw;
}

.page-bar-nums div {
  display: inline;
  margin: auto 15px;
}

.page-bar-active {
  color: #5B764E;
  font-size: clamp(15px, 2vw, 30px);
  min-height: 0vw;
}

/* Shop More */
#shop-more {
  display: flex;
  justify-content: center;
  padding: clamp(20px, 7.5vw, 79px);
  min-height: 0vw;
  background-color: #E5E2DB;
  max-width: initial;
  min-height: 0vh;
  margin: 0;
}

.shop-more-text {
  font-family: 'Lora', sans-serif;
  font-size: clamp(1rem, 1.5vw, 4rem);
  min-height: 0vw;
  text-align: center;
  margin: 0 30px;
}

.shop-more-button button {
  font-family: 'Lato', sans-serif;
  min-height: 0vh;
  width: clamp(66px, 15vw, 225px);
  min-height: 0vw;
  border: 3px solid #CBD9C4;
  font-size: clamp(8px, 1.8vw, 25px);
  margin: 10px;
  margin-top: clamp(8px, 2.1vw, 40px);
  background-color: #CBD9C4;
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;  
  cursor: pointer;
}
 
.shop-more-button {
  color: #000;
  text-decoration: none;
}

.shop-more-button button:hover, .shop-more-button button:active {
  border: 3px solid #000;
  color: #000;
}

#shop-more img {
  object-fit: cover;
  width: clamp(66px, 15vw, 232px);
  height: clamp(55px, 12vw, 176px);
  min-height: 0vw;
  opacity: 30%;
}

#shop-more-leftimg {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
  

@media only screen and (max-width: 700px) {

  #shop-header {
    margin-bottom: 10px;
  }

  #selection-sidebar {
    display: none;
  }

  #bookstore {
    width: 80%;
    margin: 0;
    padding: 0;
  }

  #sort-bookstore {
    justify-content: space-between;
  }

  .display-content, #phone-categories, #phone-condition, #display-num, #display-by {
    background-color: #E5E2DB;
    margin: 0 6px;
  }

  .select-selected {
    width: 68px;
    height: 25px;
  }

  #phone-categories, #phone-condition {
    display: inline-block;
  }

  .select-items div,.select-selected {
    padding: 5px 10px;
  }

  #display-bookstore {
    padding: 0;
  }

  .book-content {
    width: 80px;
    margin: 10px;
  }

  .book-cover {
    height: 112px;
  }

  .book-title {
    font-size: 10px;
  }

  .book-price {
    font-size: 8px;
  }

  #page-bar {
    display: none; /* ? */
  }

  #shop-more {
    padding: 15px;
  }

  #shop-more img {
    display: none;
  }
  
  .shop-more-button button:hover, .shop-more-button button:active {
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
  }
}